/* Reseteo de estilos. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: #f5f7fa;
}

/* Encabezado. */
header {
    background-color: #f5f7fa;
    color: #cc0000;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
header img {
    height: 50px;
}

/* Menú. */
nav > ul {
    height: 40px;
    list-style: none;
    background-color: #cc0000;

    position: absolute;

    display: flex;
    justify-content: flex-start;


}
nav > ul > li {
    /* width: 100%; */
    padding: 0 10px;

    color: #f5f7fa;

    font-size: 1.25em;
    font-weight: bold;

    display: flex;
    justify-content: center;
    /* align-items: center; */
}
nav > ul > li:hover {
    background-color: #3f3f3f;
}

nav > ul > li > ul {
    position: absolute;
    transform: translateY(25px);
    list-style: none;
    z-index: 101;

    border: solid 2px blue;
    display:none;
}
nav > ul > li:hover > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav a {
    text-decoration: none;
    color: #f5f7fa;
    width: 100%;
}
/* Contenido. */
article ul {
    padding: 50px;
}

/* Pie. */
footer {
    background-color: #cc0000;
    color: #f5f7fa;
    padding: 10px;
    text-align: right;
}